/*
 * Estilos de tu proyecto
 */
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;

}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquÃ­ */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color:  #28C6A4;
}


p {
	color:#fff;
}

a {
  color: #fff;
  text-decoration: none;
  float:right;
}

a:hover{
	background-color: #28C6A4;
}

.link{
  font-weight: 700;
  padding: 23px;
  display: inline-block;
}

.titulo-header{
  float: left;
  margin-top: 8px;
  
  font-size: 25px;
  font-weight: bold;
}

header{
  position: fixed;
  background: #27384B;
  width: 100%;
  top: 0;
}

.menu{
  padding: 14px 70px;
  overflow: auto;
}

.img-free{
  display: inline-block;
  margin-top: 150px;
  margin-bottom: 0px;
  margin-left: 40%;

}

.titulo {
	text-align: center;	
 font-size: 50px;	
  font-weight: bold;
}

.subtitulo{
	text-align: center;
	font-size: 18px;
	margin-bottom:50px;

}

#galery{
  background-color: #fff;
  display:block;
  padding: 50px 7px;
  margin:0px auto;

}
.img-port{
  max-width: 400px;
  width: 1000px;
}

h2 {
	text-align: center;
	font-size: 50px;
	color:#000;
	font-weight: bold;
}

.titulo-about{
	text-align: center;
	font-size: 50px;
	color:#fff;
	font-weight: bold;
}

.text-parrafo{
	font-size: 18px;
	color:#fff;
	text-align: justify;
	padding-left: 250px;
	font-weight: bold;
	}

	.text-parrafo1{
	font-size: 18px;
	color:#fff;
	text-align: justify;
	padding-right:250px;
	font-weight: bold;

	}

#about{
	text-align: center;
	padding: 40px;
	padding-bottom: 70px;

}

#download{
	color: white;
	background-color: #28C6A4;
	padding: 20px;
	border: 4px  solid white;
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: bolder;
	cursor: pointer;
	text-align: center;

}

#contact-me{
text-align: center;
	padding: 40px;
	padding-bottom: 70px;
	background-color: #fff;

}
   .botoncito {
	color: white;
	background-color: #28C6A4;
	border-radius: 5px;
	font-size: 1em;
	font-weight: bolder;
	cursor: pointer;
	text-align: center;
	
	margin-left: 300px;
	margin-right: 750px;
	position: relative;

  
  
}

input {
	width: 600px;
    padding: 13px 20px;
    margin: 8px 0;
    display: inline-block;
    background: #fff;
    box-sizing: border-box;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #CAC9C9;
    margin-left: 30px;
}

hr {
  height: 2px;
  background-color: #CAC9C9;
  margin-top: 20px;
    border: none;
    margin-left: 300px;
    margin-right: 270px;
}


textarea {
	width: 600px;
	height: 150px;
    padding: 13px 20px;
    margin: 8px 0;
    display: inline-block;
    background: #fff;
    
    box-sizing: border-box;
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid #CAC9C9;
    margin-left: 30px;
}




.boton-send{
	text-align: center;
}

#info{
	text-align: center;
	padding: 40px;
	padding-bottom: 70px;
	  background: #27384B;
}

h1 {
	font-size: 20px;
	color: #fff;
}

.link-about{
	color: #28C6A4;
}
.logo{
	width: 60px;
	margin: 5px;
}

.logo:hover{
	
	background-color: #28C6A4;
}

footer{
  text-align: center;
  height: 70px;
  background-color: #27384B;
  color: white;
  padding: 7px;
}